@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.gold-gradient-text {
  background: linear-gradient(to right, #f2b90d, #b38808);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gold-glow:hover {
  box-shadow: 0 0 15px rgba(242, 185, 13, 0.3);
}
